<div class="add-people">
    <form class="main-form" action="" *ngIf="displayForm">
        <h4 class="form-label-seperator">Name and Birthday:</h4>
        <form class= "personal-form" action="" >
            <span>
                <label for="add-person-name">Name: </label>
                <input type="text" name="name" id="add-person-name" [(ngModel)]="postUserName">      
            </span>
            <p *ngIf="displayWarning">*Name is required!</p>
            <span>
                <label for="add-person-bday">Birthday: </label>
                <input type="date" name="birthday" id="add-person-bday" [(ngModel)]="postUserBirthdate">
            </span>

        </form>
        <h4 class="form-label-seperator">Address:</h4>
        <form class="address-form" action="">
            <span>
                <label for="add-person-street">Street: </label>
                <input type="text" name="street-address" id="add-person-street" [(ngModel)]="postUserStreet">
            </span>
            <span>
                <label for="add-person-city">City: </label>
                <input type="text" name="city-address" id="add-person-city" [(ngModel)]="postUserCity">
            </span>
            <span>
                <label for="add-person-state">State: </label>
                <input type="text" name="state-address" id="add-person-state" [(ngModel)]="postUserState">
            </span>
            <span>
                <label for="add-person-zip">Zip: </label>
                <input type="number" name="zip" id="add-person-zip" [(ngModel)]="postUserZip">
            </span>
        </form>
        <h4 class="form-label-seperator">Interests:</h4>
        <form class="interests-form" action="">
            <div class="interests-form-input">
                <input type="text" name="interest" *ngFor = "let interest of interestCount; let i=index" [(ngModel)]="postUserInterests[i]" value="postUserInterests[i]">
            </div>
            <div class="interests-controls">
                <button (click)="addInterest()" [disabled]="interestCount.length >= 8">Add</button>
                <button (click)="removeInterest()" [disabled]="interestCount.length <= 1">Remove</button>
            </div>            
        </form>
        <h4 class="form-label-seperator">Add picture:</h4>
        <form class="upload-form">
            <label for="picture-form-input">Upload Photo: </label>
            <input type="file" name="Upload photo" id="picture-form-input" accept=".webp,.png,.jpg" [(ngModel)]="postUserImage">
        </form>
    </form>
    <div class="form-controls">
        <button (click)='showForm()'>{{showOrHide}}</button>
        <button *ngIf="displayForm" (click)="postUserImg()" (click)='postUser()'>Submit</button> 
        <button *ngIf="displayForm" (click)='fillUser()'>Auto fill</button>
    </div>
</div>