
table,
tr,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
}

.people-table {
    border: 1px solid black;
    width: 96%;
    margin: 1rem auto;
}

.searchControlsContainer{
    width: 96%;
    margin: 1rem auto 0 auto;
}

.searchControls,
.searchControls > * {
    display: flex;
    align-items: center;
}

.searchControls {
    justify-content: space-between;
}

.loaded {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 575px) {
  
}