<div class='peopleTable'>
    <div class=''>
        <div class='search-controls-container'>
            <h4 class="search-head">Search by name: {{listFilter}}</h4>
            <div class='search-controls'>
                <div>
                    <div>
                        <input class ="search-for-character" 
                            type="text"
                            [(ngModel)]='listFilter' 
                            [(ngModel)] = "input"
                            maxlength="35">
                    </div>
                    <div class="search-buttons">
                        <button (click)="fetchSpecified()" >Search</button>
                        <button (click)="fetchAll()" >Pull all</button>
                        
                    </div>
                </div>
                <div>    
                    <label for="delay-slider">Slow connection (in sec):</label><br>
                    <input type="range" min="0" max="5" value="0" class="slider" id="delaySlider" (input)="changeDelay($event)">
                </div>
            </div> 
            <span [hidden] = "!displaySearchReq"> *Please enter a name</span>           
        </div>

        <div class='prompt'>
            <div *ngIf='characters.length === 0 && hideLoad === true && displayIntroMessage === false'>
                <h3>The character that you searched for cannot be found!</h3>
                <p >You can add them or check your spelling.</p>
                <p >If you are concerned about a connection issue, please ensure that <br>
                    the companion API is running on "http://localhost:5000/people"</p>
            </div>
            <div *ngIf="displayIntroMessage">
                <h3>Hello!</h3>
                <p>Please search for a user in the searchbox above.</p>
            </div>
            <div [hidden]="hideLoad">
                <div class="progress-bar">
                    <span><span class="progress" [style]='loadingProgress'></span></span>
                </div>          
            </div>
        </div>
        <table class='character-table' *ngIf='characters.length'>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <!-- <th>Address</th> -->
                    <th>Interests</th>       
                    <th>View Profile</th>            
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let character of characters'>
                    <td>
                        <img [src]="character.image" alt="Picture of {{character.name}}"
                        [style.width.px]= 'imageWidth'
                        class = "character-image">
                    </td>
                    <td class="character-name">{{character.name | titlecase}}</td>
                    <!-- TODO: build a custom pipe to handle displaying "St. Germain", "McCartney", "O'Brien"-->
                    <td>
                        <div>{{character.birthDate | date:'mediumDate'}}</div>
                        <div>Age: {{getAge(character.birthDate)}}</div>
                    </td>
                    <!-- <td class="character-address">
                        <div>
                            {{character.address.street | titlecase}} <br>
                            {{character.address.city | titlecase}} {{character.address.state | titlecase}} <br>
                            {{character.address.zip}}
                        </div>
                    </td> -->
                    <td>
                        <ul class="character-interests" >
                            <li *ngFor='let interest of character.interests'>{{interest}}</li>
                        </ul>
                    </td>
                    <td>
                        <button (click)="setServiceData(character)" [routerLink]="['/people', character.name]" >View</button>
                    </td>     
                </tr>
            </tbody>
        </table>
    </div>
</div>