
table,
tr,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
}

.prompt {
    width: 96%;
    background-color: brown;
    color:rgb(253, 251, 241);
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.prompt > * {
    border: 1px solid black;
    text-align: center;
}

.people-table {
    border: 1px solid black;
    width: 96%;
    margin: 1rem auto;
    list-style: none;
}

.person-image {
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .people-address {
    
} */

.person-interests{
    list-style: none;
    padding: 0;
}

.person-interests > * {
    width: 100%;
    font-weight: bold;
}

.person-interests > *:nth-child(odd){
    background-color: rgb(229, 157, 157);
}

.person-interests > *:first-letter {
    text-transform: capitalize
}

.searchControlsContainer{
    width: 96%;
    margin: 1rem auto 0 auto;
}

.searchControls,
.searchControls > * {
    display: flex;
    align-items: center;
}

.searchControls {
    justify-content: space-between;
}

.progressBar { 
    height: 15px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.progressBar span {
    display: block;
    height: 100%;
    width: 100%;
}

.progress {
    background-color:brown;
    animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 575px) {
  
}