<div class='peopleTable'>
    <div class=''>
        <div class='searchControlsContainer'>
            <div class='searchControls'>
                <div>
                    <div>
                        <input type="text"
                            [(ngModel)]='listFilter' [(ngModel)] = "input">
                    </div>
                    <button (click)="fetchWithDelay()" >Search</button>
                </div>
                <div>    
                    <label for="delaySlider">Delay Search (in seconds):</label><br>
                    <input type="range" min="0" max="5" value="0" class="slider" id="delaySlider" (input)="changeDelay($event)">
                </div>
            </div>
            <h4>Search by name: {{listFilter}}</h4>
        </div>

        <div class = 'prompt'>
            <div *ngIf='people.length == 0 && hideLoad == true'>
                <h3>The person that you searched for cannot be found!</h3>
                <p >You can add them or check your spelling.</p>
            </div>
        </div>
        <table class='people-table' *ngIf='people.length'>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Interests</th>                   
                </tr>
            </thead>
            <tbody>

                <tr *ngFor = 'let people of people'>
                    <td>
                        <img [src]="people.image" alt="Picture of {{people.image}}"
                        [style.width.px]= 'imageWidth'
                        [style.margin.px]='imageMargin'>
                    </td>
                    <td>{{people.name | titlecase}}</td>
                    <!-- May not be a bad idea to build a custom pipe to handle "St. Germain" and McCartney-->
                    <td>{{people.birthDate | date:'mediumDate'}}</td>
                    <td>
                        <ul>
                            <li>{{people.address.street}}</li>
                            <li>{{people.address.city}}</li>
                            <li>{{people.address.state}}</li>
                            <li>{{people.address.zip}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor='let interest of people.interests'>{{interest}}</li>
                        </ul>
                    </td>     
                </tr>
            </tbody>
        </table>
    </div>
</div>