* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.disclaimer{
    color:rgb(253, 251, 241); 
}

.welcome {
    font-size: 35px;
    height: 100%;
    font-weight: bold;
    color:rgb(253, 251, 241)
}

.spacer {
    height: 100%;
    margin:auto 0;
}

.spacer img {
    margin-right: 15px;
}

/* Responsive Styles */
@media screen and (max-width: 745px) {
    .spacer {
        width: 55px;
    }
    
    .spacer img {
        margin-right: 0px;
    }
}

@media screen and (max-width: 575px) {
  
}