<div style="display: none;" class="content">
  <span>PeopleSearch app is running!</span>
</div>
<div class="navigation" role="banner">
  <img
    width="60"
    height='60'
    alt="Application Logo"
    src="../assets/imgs/search-logo.webp"  />
  <div class='title'>
    <span class="welcome">Welcome to PeopleSearch (beta) </span>
    <span class="disclaimer"> *name not yet final</span>
  </div>
  <div class="spacer">
    <a aria-label="Jake's Github" target="_blank" rel="noopener" href="https://www.github.com/jakesaintg" title="Github">
      <img id="github-logo" height="50" width="50" data-name="Logo" src="../assets/imgs/github-logo.webp">
    </a>
    <a aria-label="Jake's Linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/jake-st-germain/" title="Linkedin">
      <img id="LinkedIn-logo" height="50" width="50" data-name="Logo" src="../assets/imgs/linkedin-logo.webp">
    </a>
  </div> 
</div>

<div class="content" role="main">
  <!-- <ps-people></ps-people> -->

  <router-outlet></router-outlet>
  <ps-addPeople></ps-addPeople>
</div>


