<div class='main'>
    <div class=''>
        <div class=''>
            <h4>Search by name: {{listFilter}}</h4>
            <div>
                <input type="text"
                    [(ngModel)]='listFilter'>
            </div>
            <button (click)="fetchWithDelay()">Search</button>
            <label for="delaySlider">Delay Search (in seconds):</label><br>
            <input type="range" min="0" max="5" value="0" class="slider" id="delaySlider" (input)="changeDelay($event)">
        </div>

        <table class='people-table' *ngIf='people.length'>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Interests</th>                   
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="hideLoad">
                    loading
                </tr>
                <tr *ngFor = 'let people of people'>
                    <td>
                        <img [src]="people.image" alt="Picture of {{people.image}}"
                        [style.width.px]= 'imageWidth'
                        [style.margin.px]='imageMargin'>
                    </td>
                    <td>{{people.name | titlecase}}</td>
                    <!-- May not be a bad idea to build a custom pipe to handle "St. Germain" and McCartney-->
                    <td>{{people.birthDate | date:'mediumDate'}}</td>
                    <td>
                        <ul>
                            <li>{{people.address.street}}</li>
                            <li>{{people.address.city}}</li>
                            <li>{{people.address.state}}</li>
                            <li>{{people.address.zip}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor='let interest of people.interests'>{{interest}}</li>
                        </ul>
                    </td>     
                </tr>
            </tbody>
        </table>
    </div>
</div>