<!-- This is the form for adding a new character to CharacterAPI -->

<div class="add-characters">
    <form class="main-form" action="" *ngIf="displayForm">
        <h4 class="form-label-seperator">Name and Birthday:</h4>
        <form class= "add-character-form" action="" >
            <span>
                <label for="add-character-name">Name: </label>
                <input type="text" name="name" id="add-character-name" [(ngModel)]="postCharacterName">      
            </span>
            <p *ngIf="displayWarning">*Name is required!</p> 
            <span>
                <label for="add-character-bday">Birthday: </label>
                <input type="date" name="birthday" id="add-character-bday" [(ngModel)]="postCharacterBirthdate" max="{{today | date:'yyyy-MM-dd'}}">
            </span>
        </form>
        <h4 class="form-label-seperator">Address:</h4>
        <form class="address-form" action="">
            <span>
                <label for="add-character-street">Street: </label>
                <input type="text" name="street-address" id="add-character-street" [(ngModel)]="postCharacterStreet" maxlength="25">
            </span>
            <span>
                <label for="add-character-city">City: </label>
                <input type="text" name="city-address" id="add-character-city" [(ngModel)]="postCharacterCity" maxlength="25">
            </span>
            <span>
                <label for="add-character-state">State: </label>
                <input type="text" name="state-address" id="add-character-state" [(ngModel)]="postCharacterState" maxlength="20">
            </span>
            <span>
                <label for="add-character-zip">Zip: </label>
                <input type="number" name="zip" id="add-character-zip" [(ngModel)]="postCharacterZip" maxlength="10">
            </span>
        </form>
        <h4 class="form-label-seperator">Interests:</h4>
        <form class="interests-form" action="">
            <div class="interests-form-input">
                <input type="text" name="interest" *ngFor = "let interest of interestCount; let i=index" [(ngModel)]="postCharacterInterests[i]" value="postCharacterInterests[i]" maxlength="60">
            </div>
            <div class="interests-controls">
                <button (click)="addInterest()" [disabled]="interestCount.length >= 8">Add</button>
                <button (click)="removeInterest()" [disabled]="interestCount.length <= 1">Remove</button>
            </div>            
        </form>
        <h4 class="form-label-seperator">Add picture:</h4> 
        <div class="upload-form">
            <input type="file"
                    id="fileUpload"
                    name="fileUpload"            
                    (change)="handleFileInput($event)"
                    [(ngModel)]="postCharacterImage"
                    >           
        </div>
    </form>
    <div class="form-controls">
        <button (click)='showForm()'>{{showOrHide}}</button>
        <button *ngIf="displayForm" (click)="postCharacterImg()" (click)='postCharacter()'>Submit</button> 
        <button *ngIf="displayForm" (click)='fillCharacter()'>Auto fill</button>
    </div>
    <div class="successful-upload" [hidden]="!successfulSubmission">Successfully Uploaded!</div>
</div>