.add-characters {
    display: flex;
    flex-direction:  column;
    width: 96%;
    margin: 1rem auto 0 auto;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    margin: 5px auto;
}

.form-label-seperator {
    background-color: brown;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: cornsilk;
}

.add-character-form,
.address-form,
.interests-form,
.upload-form {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    border-top: 1px solid black;
    height: auto;
    align-items: center;
    background-color: #f3efe6;
}

.upload-form{
    display: block;
}

.address-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.address-form > * {
    text-align: center;
}

.interests-form{
    height: auto;
}

.interests-form-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
}

.interests-form-input > * {
    width: 80%;
    margin: 10px auto;
}

.interests-controls {
    display: flex;
    flex-direction: row;
    width: 10%;
}

.form-controls > *,
.interests-controls > * {
    height: 20%;
    margin-right: .5rem;
}

.form-controls {
    margin-bottom: 16px;
}

.successful-upload{
    background-color: green;
    color:rgb(253, 251, 241);
    font-weight: bold;
    margin-bottom: 50px;
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem 0;

    animation-fill-mode: forwards;
    animation-name: fadeIn, fadeOut;
    animation-delay: 0s, 2s;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

button {
	box-shadow:inset 0px 30px 0px -15px #b54b3a;
	background-color:brown;
	border:1px solid black;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding: 5px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
    margin-left: 0;
}
button:hover {
	background-color:#b34332;
}

.interests-controls > button {
    padding: 5px 10px;
}

@media screen and (max-width: 950px) {
    .address-form {
        grid-template-columns: 1fr 1fr;
    }
}